
.display2bg
{
  padding-top: 15px;
  background-image: url("images/loginbg.jpg");
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.displayabout
{
  padding-top: 15px;
  background-image: url("images/loginbg.jpg");
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (max-width: 375px)
{
    .about{
        font-family:'ubuntu';
        font-size: 35px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black; 
    }
    .abouttag{
        font-family:'lob';
        font-size: 30px;
        color: white; 
        text-align: center;
        text-shadow: 2px 2px red; 
    }
    .foodie
    {
        font-family:'lob';
        font-size: 40px;
        color: white; 
        padding-top: 80px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
    .distext3
    {
        margin-top: 10px;
        font-family:'lob';
        font-size: 40px;
        color: white; 
        text-align: center;  
        text-shadow: 0.5px 0.5px black;
    }  

}
@media only screen and (min-width: 380px)
{
    .about{
        font-family:'ubuntu';
        font-size: 40px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black; 
    }
    .abouttag{
        font-family:'lob';
        font-size: 35px;
        color: white; 
        text-align: center;
        text-shadow: 2px 2px red; 
    }
    .foodie
    {
        font-family:'lob';
        font-size: 40px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
    .distext3
    {
        margin-top: 10px;
        font-family:'lob';
        font-size: 40px;
        color: white; 
        text-align: center;  
        text-shadow: 0.5px 0.5px black;
    } 
}
@media only screen and (min-width: 425px)
{
    .about{
        font-family:'ubuntu';
        font-size: 45px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black; 
    }
    .abouttag{
        font-family:'lob';
        font-size: 40px;
        color: white; 
        text-align: center;
        text-shadow: 2px 2px red; 
    }
    .foodie
    {
        font-family:'lob';
        font-size: 40px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
    .distext3
    {
        margin-top: 10px;
        font-family:'lob';
        font-size: 40px;
        color: white; 
        text-align: center;  
        text-shadow: 0.5px 0.5px black;
    } 
}
@media only screen and (min-width: 768px)
{
    .about{
        font-family:'ubuntu';
        font-size: 60px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black; 
    }
    .abouttag{
        font-family:'lob';
        font-size: 55px;
        color: white; 
        text-align: center;
        text-shadow: 2px 2px red; 
    }
    .foodie
    {
        font-family:'lob';
        font-size: 40px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
    .distext3
    {
        margin-top: 10px;
        font-family:'lob';
        font-size: 40px;
        color: white; 
        text-align: center;  
        text-shadow: 0.5px 0.5px black;
    } 
}
@media only screen and (min-width: 1024px)
{ 
    .foodie
    {
        font-family:'lob';
        font-size: 50px;
        color: white; 
        padding-top: 80px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
    .distext3
    {
        margin-top: 10px;
        font-family:'lob';
        font-size: 40px;
        color: white; 
        text-align: center;  
        text-shadow: 0.5px 0.5px black;
    }
    .about{
        font-family:'ubuntu';
        font-size: 60px;
        color: white; 
        padding-top: 50px;
        text-align: center;
        text-shadow: 2px 2px black; 
    }
    .abouttag{
        font-family:'lob';
        font-size: 55px;
        color: white; 
        text-align: center;
        text-shadow: 2px 2px red; 
    }
    .lineabout{
       background-color: lightsalmon; 
       color: lightsalmon;
       width: 100px;
       height: 4px;
    }
}
@media only screen and (min-width: 1440px)
{
  .indexpg1
{
  font-family:'lob';
    font-size: 70px;
    color: black;   
}  
 .sli{
        height: 400px;
        width: 100%;
    } 
.disimg{
        height: 150px;
        width: 150px;
    }
}
